/* 하나금융그룹 폰트 */
@font-face {
  font-family: Hana2-Light;
  src: url('../font/Hana2.0_TTF/Hana2-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hana2-Regular;
  src: url('../font/Hana2.0_TTF/Hana2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hana2-Medium;
  src: url('../font/Hana2.0_TTF/Hana2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hana2-Bold;
  src: url('../font/Hana2.0_TTF/Hana2-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hana2-Heavy;
  src: url('../font/Hana2.0_TTF/Hana2-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hana2-CM;
  src: url('../font/Hana2.0_TTF/Hana2-CM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* body 기본 서체 Hana2-Medium*/
  font-family: 'Hana2-Medium';
}

header {
  background-color: transparent;
  height: 60px;
}

footer {
  background-color: #f1fffe;

}

a {
  text-decoration: none; /* 링크의 밑줄 제거 */
}

/* hover하여도 색상 변화가 없도록 */
.btn-primary:hover,
.btn-primary.navbar-btn:hover {
  background-color: #00857E;
}

/* '시작하기'버튼을 이전에 클릭해보았더라도, 윤곽선이 남지 않게 */
.btn-primary,
.btn-primary.navbar-btn:active,
.btn-primary.navbar-btn:focus {
  border-color: transparent !important;
}

.navbar-brand {
  font-family: 'Hana2-Bold';
}

.navbar-logo-img {
  width: 40px;
}

.navbar-btn {
  background-color: #00857E;
}

.background-image-container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 12% 0;
  color: white;
  text-shadow: 0 1px 3px #000;
}

.btn-primary {
  background-color: #00857E;
  text-shadow: none;
}

.fa-container {
  text-align: center;
}

.text-center {
  text-align: center;
  font-family: 'Hana2-Medium';
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-md-4{
  padding-top: 80px;
}

.list-img{
  width: 80px;
}

.inner {
  font-family: Hana2-Regular;
  font-size: small;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.hana-phone-div{
background : linear-gradient(#FFFFFF, #73c0bc);
  text-align: center;
  font-family: 'Hana2-Bold';
  padding-top: 100px;
}

.hana-hand{
  display: block;
  margin: auto;
  width: 90%; /* 화면 크기에 따라 이미지 크기가 동적으로 조정되게 합니다 */
  max-width: 1200px; /* 이미지가 이 크기 이상으로 커지지 않게 합니다. 필요에 따라 값 변경 */
  height: auto; /* 높이는 자동으로 조정해서 비율 유지 */
  padding-top: 20px;
}

.highlight {
  color: #00857E;
}

.highlight-red {
  color: #FF1A5C;
}

.fontawsome{
  font-size: 18px;
  color: #000000;
}